# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 16b39d97b7855251e525c3b742fec257648638f77c4e53520ed238c5f8219f4145e9c2c82339ad2f4d8215318644b246d63bd50faa5bb4604f2619e205deccea

test:
  secret_key_base: a16d6e18fa5abf453e6fa7cf50fa7f64a4cac494be280074fc8bf2b7c8fc2c0b4ff7571998e8bfdcd4e23741ed5833d89d7c2f4c6e957bfb8d83ba0388d969ac

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
